<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
crossorigin="anonymous"></script>
    <title>유기견</title>

  <script>
    $(document).ready(function () {
      show();
    });

    function show() {
      $.ajax({
        type: 'GET',
        url: '/pets',
        data: {},
        success: function (response) {
           let rows = response['pets']
          for (let i = 0; i < rows.length; i++)
          {
            let name = rows[i]['name']
            let age = rows[i]['age']
            let phone_number = rows[i]['phone_number']
            let address = rows[i]['address']
            let reason = rows[i]['reason']

            let temp_html = `    <tr>
                                    <th >${i + 1}</th>
                                    <td>${age}</td>
                                    <td>${phone_number}</td>
                                    <td>${address}</td>
                                    <td>${reason}</td>
                                  </tr>`
            $('apply-box').append(temp_html)
          }
        }
      });
    }
  </script>


</head>
<body>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">이름</th>
      <th scope="col">나이</th>
      <th scope="col">연락처</th>
      <th scope="col">주소</th>
      <th scope="col">이유</th>

    </tr>
  </thead>
  <tbody id = 'apply-box'>
  </tbody>
</table>
</body>
</html>